/*Pera Nicholls*/
/*Minh Phu Ngo*/

.head-foot{
    text-align: center;
    padding: 1em;
    background-color: goldenrod;
    color: blanchedalmond;
}

h1{
    margin: 0%;
}

h2{
    text-align: center;
    color: chocolate;
}

body{
    background-color: burlywood;
    margin: 0%;
}

form {
    background-color: beige;
    margin: 5%;
    padding: 5%;
}

#main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#last-fieldset{
    flex-basis: 65%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#searchbar-area{
    display: flex;
    justify-content: center;
}

#searchbar{
    flex-basis: 50%;
}

#add, #reset{
    width: 10em;
    height: fit-content;
}

fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#storage-btns{
    display: flex;
    justify-content: center;
}

#storage-btns > * {
    margin: 1%;
}

#table-render-space{
    display: flex;
    margin: 5%;
}

table{
    background-color: beige;
    flex: 1;
    flex-basis: 65%;
    border-collapse: collapse;
}

tr > * {
    border: 1px solid black;
    padding: 1%;
}

td input{
    width:75%;
}